/***** Light Theme Variables *****/
:root {
	--header-color: #e3e3e5;
	--text-color: #1b1b1b;
	--body-bg-color: #f6f6f6;
	--border-color: #ccc;
	--toggle-bg-color: #ccc;
	--toggle-slider-color: rgb(53, 53, 53);
	--logo-color: #000000;
	--movie-card-bg-color: #ededed;
	--favorite-icon-inactive-color: #45269b;
	--favorite-icon-active-color: #df1212;
	--pagination-control-color: #1b1b1b;
	--pagination-border-color: #a5a5a5;
	--image-not-available-color: #6e6e6e;
}

/***** Dark Theme Variables *****/
body.theme--dark {
	--header-color: #0d1226;
	--text-color: #f0f0f0;
	--border-color: #555;
	--toggle-bg-color: #555;
	--toggle-slider-color: #fff;
	--dark-body-bg-color: #0a0e1e;
	--logo-color: #ffffff;
	--movie-card-bg-color: #101326;
	--pagination-control-color: #f7f7f7;
}

body {
	background-color: var(--dark-body-bg-color);
}

/***** Base styles *****/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/****** Header wrapper *****/
.header-wrapper {
	width: 100%;
	background-color: var(--header-color);
	box-sizing: border-box;
	transition: background-color 0.3s ease-in-out;
}

/***** Header *****/
.header {
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color);
	box-sizing: border-box;
	transition: color 0.3s ease-in-out;
}

.header__logo {
	flex-shrink: 0;
}

.header__logo-img {
	width: 100px;
	transition: width 0.3s ease-in-out;
}

.header__search-bar {
	margin: 0 1rem;
	max-width: 90%;
	flex-grow: 1;
	position: relative;
}

.search-form__input {
	padding: 1rem 2.5rem 1rem 1rem;
	width: 100%;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	font-size: 1rem;
}

.search-form__button {
	position: absolute;
	top: 50%;
	right: 0.75rem;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	color: var(--text-color);
	font-size: 1.2rem;
	line-height: 1; /* Ensure the icon is centered vertically */
}

.search-icon {
	font-size: 1.2rem;
	color: black;
}

.header__nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.header__nav-item {
	margin-left: 1rem;
}

.heart-icon {
	margin-right: 1rem;
	font-size: 1.5rem;
	color: var(--text-color);
	cursor: pointer;
}

.theme-toggle {
	position: relative;
	width: 50px;
	flex-shrink: 0;
}

.theme-toggle__checkbox {
	display: none;
}

.theme-toggle__label {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 60px;
	height: 29px;
	background-color: var(--toggle-bg-color);
	border-radius: 15px;
	position: relative;
	transition: background-color 0.3s ease-in-out;
}

.theme-toggle__slider {
	position: absolute;
	top: 2px;
	left: 3px;
	width: 25px;
	height: 25px;
	background-color: var(--toggle-slider-color);
	border-radius: 50%;
	transition: transform 0.3s ease-in-out;
}

.theme-toggle__icon {
	width: 23px;
	height: 20px;
	position: absolute;
	top: 3px;
	transition: opacity 0.3s ease-in-out;
}

.theme-toggle__icon--sun {
	right: 1px;
	opacity: 1;
}

.theme-toggle__icon--moon {
	left: 2px;
	opacity: 0;
}

/***** Checkbox Checked State *****/
.theme-toggle__checkbox:checked + .theme-toggle__label .theme-toggle__slider {
	transform: translateX(29px);
}

.theme-toggle__checkbox:checked
	+ .theme-toggle__label
	.theme-toggle__icon--sun {
	opacity: 0;
}

.theme-toggle__checkbox:checked
	+ .theme-toggle__label
	.theme-toggle__icon--moon {
	opacity: 1;
}

.hamburger-menu {
	display: none;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--text-color);
}

.header__nav-icons {
	display: none;
}

/***** Main Content *****/
.main-content {
	margin: 0 auto;
	padding: 2rem;
	max-width: 1200px;
	box-sizing: border-box;
}

/***** Movies *****/
.movies {
	/* padding: 2rem 0; */
	color: var(--text-color);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.movies__title {
	font-size: 2rem;
	margin: 1rem 0 2.2rem 0;

	color: var(--text-color);
}

.movies__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* Four columns */
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}

.movie-card {
	/* width: 260px;
	height: 463px; */
	background-color: var(--movie-card-bg-color);
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28);
	position: relative;
	transition: background-color 0.3s ease-in-out;
}

.movie-card__image {
	padding: 10px;
	position: relative;
	overflow: hidden;
	transition: background-color 0.3s ease-in-out;
}

.movie-card__no-image {
	height: 360px;
	width: 240px;
	background-color: var(--image-not-available-color);
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 5px;
}

.movie-card__image img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 5px;
}

.movie-card__favorite {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	background: rgba(255, 255, 255, 0.7);
	color: var(--favorite-icon-inactive-color);
	padding: 0.2rem 0.5rem;
	border-radius: 50%;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
}

.movie-card__rating {
	margin-top: 0.5rem;
	border-radius: 5px;
	font-size: 1rem;
}

.movie-card__star-rating {
	font-size: 1rem;
}

.movie-card__star--full {
	color: gold; /* Full star color */
}

.movie-card__star--half {
	color: gold; /* Half star color */
	background: linear-gradient(
		90deg,
		gold 50%,
		#ccc 50%
	); /* Half star effect */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.movie-card__star--empty {
	color: #ccc; /* Empty star color */
}

.movie-card__details {
	padding: 10px 12px 18px;
	max-height: 100px;
	transition: background-color 0.3s ease-in-out;
	word-wrap: break-word;
}

.movie-card__title {
	font-size: 1rem;
}

.movie-card__genre {
	padding: 0.5rem 0 0.5rem;
	font-size: 0.85rem;
}

/***** Pagination Controls *****/
.pagination {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.page-item {
	margin: 0 5px;
}

.page-link {
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #727272;
}

.page-link.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.page-item.active .page-link {
	background-color: var(--pagination-border-color);
	border-color: var(--pagination-border-color);
}

/***** Media Queries *****/
/* Default for very small screens */
.movies__grid {
	grid-template-columns: repeat(
		1,
		1fr
	); /* One column for very small screens */
}

@media (min-width: 481px) and (max-width: 576px) {
	.header__nav-icons {
		display: flex;
		align-items: center;
	}

	.hamburger-menu {
		display: none;
	}

	.movies__grid {
		grid-template-columns: repeat(
			2,
			1fr
		); /* Two columns for small screens */
	}
}

@media (min-width: 577px) and (max-width: 720px) {
	.header__nav-icons {
		display: flex;
		align-items: center;
	}

	.hamburger-menu {
		display: none;
	}

	.movies__grid {
		grid-template-columns: repeat(
			2,
			1fr
		); /* Two columns for medium-small screens */
	}
}

@media (min-width: 721px) and (max-width: 1024px) {
	.header__nav-icons {
		display: flex;
		align-items: center;
	}

	.hamburger-menu {
		display: none;
	}

	.movies__grid {
		grid-template-columns: repeat(
			3,
			1fr
		); /* Three columns for medium-large screens */
	}
}

@media (min-width: 1025px) {
	.header__nav-icons {
		display: flex;
		align-items: center;
	}

	.hamburger-menu {
		display: none;
	}

	.movies__grid {
		grid-template-columns: repeat(
			4,
			1fr
		); /* Four columns for large screens */
	}

	.header__logo-img {
		width: 150px;
	}
}
